block variables
  //- TODO: extract to external JS files and import as locals
  -
    const lang = cv.cviceni.language ? cv.cviceni.language : 'cs';
    const SLIDES = cv.slajd.length;
    let SLIDE_NUMBER = 0;
    const extensionsAudio = ["mp3"];
    const extensionsImage = ["jpg", "jpeg", "png", "gif"];
    const extensionsVideo = ["mp4"];
    const checkExtension = (arr, extension) => arr.includes(extension);
    const getExtension = (string) => string.split('.').pop();

include head.pug
include ui/ui.pug
include slide.pug
include moduly/modul-slideNaPul.pug
include moduly/modul-zadani.pug
include moduly/modul-napoveda.pug
include moduly/modul-novaTabulka.pug
include moduly/modul-prameny.pug
include moduly/modul-lupa.pug
include moduly/modul-uzivatelskyText.pug
include moduly/modul-svg.pug
include moduly/modul-razeni.pug
include moduly/modul-editor.pug
include moduly/modul-klicovaSlova.pug
include moduly/modul-testKviz.pug
include moduly/modul-imitaceMapy.pug
include moduly/modul-media.pug
include moduly/modul-vyber.pug

doctype html
html(lang= lang data-version-global= cv.cviceni.version.global data-version-content= cv.cviceni.version.content data-state="empty")
  head
    block meta
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, initial-scale=1")

    block title

    block favicon
      link(rel="icon" type="image/png" href="../assets/img/favicon-32x32.png" sizes="32x32")
      link(rel="icon" type="image/png" href="../assets/img/favicon-16x16.png" sizes="16x16")
      link(rel="apple-touch-icon" href="../assets/img/apple-touch-icon-57x57.png")
      link(rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-touch-icon-76x76.png")
      link(rel="apple-touch-icon" sizes="120x120" href="../assets/img/apple-touch-icon-120x120.png")
      link(rel="apple-touch-icon" sizes="152x152" href="../assets/img/apple-touch-icon-152x152.png")

    block fonts
      link(rel="preload" as="font" type="font/woff2" href="../assets/fonts/LatoLatin-Regular.woff2" crossorigin)
      link(rel="preload stylesheet" as="style" href="../assets/fonts/fonts.css?" + Math.floor(Date.now() / 1000) crossorigin)

    block css
      <!-- inject:css -->
      link(rel="stylesheet" href="../assets/css/styles.css?" + Math.floor(Date.now() / 1000))
      <!-- endinject -->

    block js

  body.loading
    //- loading screen
    include loading-screen.pug
    include unsupported.pug
    //- Google Analytics
    //- include analytics.pug

    block header
      include header.pug

    main.cviceni.slides(id= cv.cviceni.slug data-exercise-id= cv.cviceni.id)
      include slide-form.pug
      block cviceni
      include slide-export.pug

    block footer

    block tools
      //- fullscreen
      +fullscreen()
      //- SVG assets
      include svg-icons.pug

      //- tools
      - let radialMenu = false
      each funkce in cv.cviceni.funkce
        if funkce === "lupa"
          +lupa
        if (funkce === "svg" || funkce === "kresleni" || funkce === "znacky") && radialMenu === false
          - radialMenu = true
          +radialMenu(cv.slajd)

    block javascript
      script(src="../assets/js/vendor/platform.js")

      - let d3 = false
      each funkce in cv.cviceni.funkce
        if funkce === "lupa"
        if funkce === "razeni"
        if (funkce === "svg" || funkce === "kresleni" || funkce === "znacky" || funkce === "pretahovani") && d3 === false
          - d3 = true
          <!-- inject:d3:js -->
          script(src="../assets/js/vendor/d3.build.js?" + Math.floor(Date.now() / 1000))
          <!-- endinject -->
        if funkce === "audio"
          script(src="../assets/js/vendor/wavesurfer.min.js?" + Math.floor(Date.now() / 1000))
        //- if funkce === "video"
          //- script(src="../assets/js/vendor/browser.js?" + Math.floor(Date.now() / 1000))

      //- !IMPORTANT! import: {} must remain exactly as it is because of backend!
      script(type="text/javascript").
        var HISTORYLAB = {
          // START: import from php-manager
          import: {},
          // END: import from php-manager
          analytics: {},
        };

      <!-- inject:js -->
      script(src="../assets/js/app.build.js?" + Math.floor(Date.now() / 1000))
      script(src="../assets/js/components.build.js?" + Math.floor(Date.now() / 1000))
      <!-- endinject -->

      include ./comment.pug

    block dashboard
